<!DOCTYPE html>
<html ng-app="meanStack">
<head>
    <title>Mean Stack</title>
</head>
<body>
<ul class="menu">
    <li><a ng-href="#/">Dashboard</a></li>
    <li><a ng-href="#/user/list/10/0">UserController</a></li>
</ul>

<div ng-view></div>

<!-- JS -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/underscore.min.js"></script>
<script type="text/javascript" src="js/util/utility.js"></script>
<script type="text/javascript" src="js/constants/CONSTANTS.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/user/controller.js"></script>
<script type="text/javascript" src="js/route.mapping.js"></script>
<script type="text/javascript" src="js/user/route.js"></script>
<!-- JS -->
</body>
</html>